{% extends 'main_base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4 login-container">
            <h3 class="text-center">Secure Login</h3>
            <div class="text-center">
                <img src="{{ url_for('static', filename='images/school-logo.png')}}" alt="school-logo" height="90" width="90">
            </div>
                <form action="" method="post" class="main-form" novalidate>
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.username.label }}
                    {% if form.username.errors %}
                        {{ form.username(id=False, class='form-control is-invalid') }}
                        <small class="form-text text-muted">Enter your username.</small>
                        {% for error in form.username.errors %}
                        <span class="invalid-feedback">{{ error }}</span>
                        {% endfor %}
                    {% else %}
                        {% if form.username.data %}
                            {{ form.username(id=False, class='form-control is-valid') }}
                            <small class="form-text text-muted">Enter your username.</small>
                            <span class="valid-feedback">Looks Good!</span>
                        {% else %}
                            {{ form.username(id=False, class='form-control') }}
                            <small class="form-text text-muted">Enter your username.</small>  
                        {% endif %}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.password.label }}
                    {% if form.password.errors %}
                        {{ form.password(id=False, class='form-control is-invalid') }}
                        <small class="form-text text-muted">Enter your password.</small>
                        {% for error in form.password.errors %}
                        <span class="invalid-feedback">{{ error }}</span>
                        {% endfor %}
                    {% else %}
                        {% if form.password.data %}
                            {{ form.password(id=False, class='form-control is-valid') }}
                            <small class="form-text text-muted">Enter your password.</small>
                            <span class="valid-feedback">Looks Good!</span>
                        {% else %}
                            {{ form.password(id=False, class='form-control') }}
                            <small class="form-text text-muted">Enter your password.</small>
                        {% endif %}
                    {% endif %}
                </div>
                <div class="form-group text-center">
                    {% if form.validate() %}
                        {{ form.submit(id=False, class='form-control btn btn-primary is-valid') }}
                    {% else %}
                        {% if form.submit.data %}
                            {{ form.submit(id=False, class='form-control btn btn-primary is-invalid') }}
                        {% else %}
                            {{ form.submit(id=False, class='form-control btn btn-primary') }}
                        {% endif %}
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
