<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/apple-touch-icon.png')}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/favicon-32x32.png')}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/favicon-16x16.png')}}">
    <link rel="manifest" href="{{ url_for('static', filename='images/site.webmanifest')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='libs/bootstrap-4.3.1/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Enrollment System</title>
</head>
<body>
    <div class="container-fluid pl-0 pr-0">
        <div class="row">
            <div class="col-12">
                <header class="text-light bg-dark text-center">Your School Enrollment System</header>
            </div>
        </div>
    </div>
    {% block content %} {% endblock %}
    <div class="container-fluid pl-0 pr-0">
        <div class="row">
            <div class="col-12">
                <footer class="text-light bg-dark text-center">&copy; 2020 Your School</footer>  
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='libs/jquery/jquery-3.3.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='libs/bootstrap-4.3.1/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>