<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='libs/bootstrap-4.3.1/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='libs/jquery/jquery-3.3.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='libs/bootstrap-4.3.1/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <title>Enrollment System</title>
</head>
<body>
    <h1>Main Base Template</h1>
    {% block content %} {% endblock %}
</body>
</html>